% ------- %
% - JOB - %
% ------- %

Job: "my_fit"
	HistoChecks: NOCRASH
	HistoPath: ../output_histograms/
	ImageFormat: pdf
	Lumi: 1
	POI: mu_signal
	ReadFrom: HIST

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitBlind: True
	FitRegion: CRSR
	FitType: SPLUSB
	POIAsimov: 1

% ----------- %
% - REGIONS - %
% ----------- %

Region: "all_tight_muon_mu_pt1"
	HistoName: NOSYS/mu_pt1_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: mu_pt1

Region: "all_tight_muon_mu_eta1"
	HistoName: NOSYS/mu_eta1_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: mu_eta1

Region: "all_tight_muon_mu_pt2"
	HistoName: NOSYS/mu_pt2_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: mu_pt2

Region: "all_tight_muon_mu_eta2"
	HistoName: NOSYS/mu_eta2_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: mu_eta2

Region: "all_tight_muon_n_muons"
	HistoName: NOSYS/n_muons_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: n_muons

Region: "all_tight_muon_mu_charge"
	HistoName: NOSYS/mu_charge_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: mu_charge

Region: "all_tight_muon_m_mumu"
	HistoName: NOSYS/m_mumu_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: m_mumu

Region: "all_tight_muon_ratio_pt2cone20_mu1"
	HistoName: NOSYS/ratio_pt2cone20_mu1_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: ratio_pt2cone20_mu1

Region: "all_tight_muon_ratio_pt2cone20_mu2"
	HistoName: NOSYS/ratio_pt2cone20_mu2_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: ratio_pt2cone20_mu2

Region: "all_tight_muon_ratio_topoetcone20_mu1"
	HistoName: NOSYS/ratio_topoetcone20_mu1_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: ratio_topoetcone20_mu1

Region: "all_tight_muon_ratio_topoetcone20_mu2"
	HistoName: NOSYS/ratio_topoetcone20_mu2_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: ratio_topoetcone20_mu2

Region: "all_tight_muon_mu1_pt2cone20"
	HistoName: NOSYS/mu1_pt2cone20_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: mu1_pt2cone20

Region: "all_tight_muon_mu2_pt2cone20"
	HistoName: NOSYS/mu2_pt2cone20_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: mu2_pt2cone20

Region: "all_tight_muon_sumET"
	HistoName: NOSYS/sumET_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: sumET

Region: "all_tight_muon_nJetsR4"
	HistoName: NOSYS/nJetsR4_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: nJetsR4

Region: "all_tight_muon_pTJet1R4"
	HistoName: NOSYS/pTJet1R4_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: pTJet1R4

Region: "all_tight_muon_pTJet2R4"
	HistoName: NOSYS/pTJet2R4_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: pTJet2R4

Region: "all_tight_muon_etaJet1R4"
	HistoName: NOSYS/etaJet1R4_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: etaJet1R4

Region: "all_tight_muon_etaJet2R4"
	HistoName: NOSYS/etaJet2R4_all_tight_muon
	Label: all_tight_muon
	ShortLabel: all_tight_muon
	Type: SIGNAL
	VariableTitle: etaJet2R4

Region: "TREXET_2MU_CENTRAL_0_80_mu_pt1"
	HistoName: NOSYS/mu_pt1_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: mu_pt1

Region: "TREXET_2MU_CENTRAL_0_80_mu_eta1"
	HistoName: NOSYS/mu_eta1_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: mu_eta1

Region: "TREXET_2MU_CENTRAL_0_80_mu_pt2"
	HistoName: NOSYS/mu_pt2_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: mu_pt2

Region: "TREXET_2MU_CENTRAL_0_80_mu_eta2"
	HistoName: NOSYS/mu_eta2_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: mu_eta2

Region: "TREXET_2MU_CENTRAL_0_80_n_muons"
	HistoName: NOSYS/n_muons_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: n_muons

Region: "TREXET_2MU_CENTRAL_0_80_mu_charge"
	HistoName: NOSYS/mu_charge_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: mu_charge

Region: "TREXET_2MU_CENTRAL_0_80_m_mumu"
	HistoName: NOSYS/m_mumu_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: m_mumu

Region: "TREXET_2MU_CENTRAL_0_80_ratio_pt2cone20_mu1"
	HistoName: NOSYS/ratio_pt2cone20_mu1_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: ratio_pt2cone20_mu1

Region: "TREXET_2MU_CENTRAL_0_80_ratio_pt2cone20_mu2"
	HistoName: NOSYS/ratio_pt2cone20_mu2_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: ratio_pt2cone20_mu2

Region: "TREXET_2MU_CENTRAL_0_80_ratio_topoetcone20_mu1"
	HistoName: NOSYS/ratio_topoetcone20_mu1_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: ratio_topoetcone20_mu1

Region: "TREXET_2MU_CENTRAL_0_80_ratio_topoetcone20_mu2"
	HistoName: NOSYS/ratio_topoetcone20_mu2_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: ratio_topoetcone20_mu2

Region: "TREXET_2MU_CENTRAL_0_80_mu1_pt2cone20"
	HistoName: NOSYS/mu1_pt2cone20_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: mu1_pt2cone20

Region: "TREXET_2MU_CENTRAL_0_80_mu2_pt2cone20"
	HistoName: NOSYS/mu2_pt2cone20_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: mu2_pt2cone20

Region: "TREXET_2MU_CENTRAL_0_80_sumET"
	HistoName: NOSYS/sumET_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: sumET

Region: "TREXET_2MU_CENTRAL_0_80_nJetsR4"
	HistoName: NOSYS/nJetsR4_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: nJetsR4

Region: "TREXET_2MU_CENTRAL_0_80_pTJet1R4"
	HistoName: NOSYS/pTJet1R4_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: pTJet1R4

Region: "TREXET_2MU_CENTRAL_0_80_pTJet2R4"
	HistoName: NOSYS/pTJet2R4_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: pTJet2R4

Region: "TREXET_2MU_CENTRAL_0_80_etaJet1R4"
	HistoName: NOSYS/etaJet1R4_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: etaJet1R4

Region: "TREXET_2MU_CENTRAL_0_80_etaJet2R4"
	HistoName: NOSYS/etaJet2R4_TREXET_2MU_CENTRAL_0_80
	Label: TREXET_2MU_CENTRAL_0_80
	ShortLabel: TREXET_2MU_CENTRAL_0_80
	Type: SIGNAL
	VariableTitle: etaJet2R4

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "data"
	FillColor: 3
	HistoFile: data
	LineColor: 3
	Title: data
	Type: DATA

Sample: "ttHijing"
	FillColor: 4
	HistoFile: ttHijing
	LineColor: 4
	Title: ttHijing
	Type: BACKGROUND

Sample: "zmumu"
	FillColor: 5
	HistoFile: zmumu
	LineColor: 5
	Title: zmumu
	Type: BACKGROUND

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "mu_signal"
	Max: 100
	Min: -100
	Nominal: 1
	Samples: ttHijing
	Title: ""#mu(signal)""

% --------------- %
% - SYSTEMATICS - %
% --------------- %

